<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Madlibs yo</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>

    <p>I just got back from a party with @Model.Person. Can you believe we got to eat @Model.Adjective pizza in @Model.Place?! Everyone got to choose their own toppings. I made "@Model.PluralThing and @Model.Food" pizza, which is my favorite! They even stuffed the crust with @Model.PluralThing2. How @Model.Feeling! If that wasn't good enough already, @Model.Celebrity was there singing "@Model.Song". I was so inspired by the music, I had to get up out of my seat and @Model.Verb.</p>

  </body>
</html>
