<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Madlibs yo</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>

    <p>One day, @Model.Name and a @Model.Verb @Model.Noun were walking through the woods, when suddenly a giant @Model.Adjective appeared. @Model.Noun2, @Model.Adverb cried.</p>

  </body>
</html>
